$main-color: #e14b5b;
$second-color: #222c40;
$bcg-color:#edf1ef;

$items-color-1:#ec4585;
$items-color-2:#7218b5;
$items-color-3:#df7f4b;

$font-name: "open sans", sans-serif;
$html-font-size:14px;

$xl-width:1400px;
$large-width: 1140px;
$small-width: 768px;
$medium-width: 900px;